<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="dns-prefetch" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Poppins:wght@300;400;500;600&display=swap">
  <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Poppins:wght@300;400;500;600&display=swap">
  <noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Poppins:wght@300;400;500;600&display=swap">
  </noscript>
  
  <title>Find Resto</title>
  <meta name="description" content="Find any restaurants that suit your taste. We have a massive list of restaurants in various cities. Find the location and info of the restaurant, know the rating, look into the menu, and you can also know the other people's reviews and write your own review about the restaurant.">
</head>
<body>
  <a href="#mainContent" class="skip-link">Skip to Content</a>
  <header class="header">
    <div class="header__content">
      <h2 class="logo">findresto</h2> 
      <button id="hamburgerButton" class="menu" aria-label="Navigation button">☰</button>
      <nav id="navigationDrawer" class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="/#" aria-label="Navigate to Home page">Home</a></li>
          <li class="nav__item"><a href="/#/favorite" aria-label="Navigate to Favorite page">Favorite</a></li>
          <li class="nav__item"><a href="https://www.linkedin.com/in/farulivan/" target="_blank" aria-label="Navigate to About Us page">About Us</a></li>
        </ul>
      </nav>
    </div>
    <div class="hero">
      <h1 class="hero__tagline">#eatanywhere</h1>
    </div>
  </header>
  
  <main id="mainContent" class="main" tabindex="0"></main>
  <footer class="footer">
    <p>Copyright © 2022 - Find Resto</p>
  </footer>
</body>
</html>
