$primary: #6768ab;
$fontPrimary: #0d2432;
$fontSecondary: #37526d;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-size: 10px;
  }
  
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    color: $fontPrimary;
  }
  
  /*
   * Skip to Content
   *
   */
  
  .skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    background-color: white;
    color: $primary;
    padding: 8px;
    z-index: 100;
    text-decoration: none;
    font-weight: 700;
    border: 1rem solid $fontSecondary;

    &:focus {
      top: 0;
    }
  }

  /*
   * Header
   *
   */
  
  .header {
    padding: 2.5rem;
    background-color: $primary;
    color: white;
    border-radius: 0 0 1.5rem 1.5rem;

    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    
    .logo {
      font-family: "Fira Sans", sans-serif;
      font-size: 2rem;
    }

    .menu {
      background: none;
      border: none;
      padding: 1rem;
      width: 4.5rem;
      text-align: right;
      cursor: pointer;
      color: white;
      font-size: 2rem;
    }
  }
  
  /*
   * Top level navigation
   */
  
  .nav {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
  
    width: 220px;
    z-index: 10;
    top: 7rem;
    right: 0;
    text-align: right;
    position: absolute;
    background-color: white;
    border-radius: 1rem 0 0 1rem;

    &__list {
      width: 100%;
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    
    &__item {
      box-sizing: border-box;
      display: list-item;
      width: 100%;
      line-height: 2.6rem;
      text-transform: uppercase;
      border-bottom: 1px solid #e0e0e0;

      a {
        display: inline-block;
        padding: 1.3em 2em;
        text-decoration: none;
        color: $fontSecondary;

        &:hover {
          color: $primary;
          font-weight: 500;
        }
      }
      
    }
  }
  
  .open {
    visibility: visible;
    opacity: 1;
  }
  
  /*
   * Hero
   *
   */
  
  .hero {
    margin-top: 1rem;
    min-height: 150px;
    width: 100%;
    text-align: center;
    background-image: url("../public/images/heros/hero-image.jpg");
    background-position: center;
    background-color: $fontSecondary;
    background-size: cover;
  
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 1rem;

    &__tagline {
      background-color: $primary;
      font-weight: 500;
      font-size: 1.8rem;
      padding: 1rem 0 1rem 1rem;
      border-radius: 1rem 0 0 0;
      margin-bottom: -0.2rem;
    }
  }
  
  /*
   * Main
   *
   */
  
  .main {
    padding: 2.5rem;
  }

  .restaurant {
    &__item {
      display: flex;
      padding: 1.5rem;
      margin-top: 1.5rem;
      border-radius: 1rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &__image {
      width: 35%;
    }
    
    &__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: $fontSecondary;
      border-radius: 0.6rem;
    }
    
    &__info {
      padding-left: 1rem;
      width: 65%;
    }
    
    &__name {
      font-size: 1.5rem;
      font-weight: 600;
    }
    
    &__city {
      color: $fontSecondary;
      font-weight: 400;
    }
    
    &__description {
      color: $fontSecondary;
      margin-top: 1rem;
      font-size: 1.2rem;
      width: 100%;
    
      /**Truncate string**/
      overflow: hidden;
      line-height: 2rem;
      max-height: 8rem;
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      overflow: hidden !important;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
    }
    
    &__rating {
      margin-top: 1rem;
      font-weight: 300;

      span {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }
  
  /*
   * Footer
   *
   */
  
  .footer {
    padding: 1.5rem;
    text-align: center;
    background-color: $primary;
    color: white;
  }
  
  /*
   * Responsive
   */
  
  @media screen and (min-width: 600px) {
    .menu {
      display: none;
    }
  
    .nav {
      visibility: visible;
      opacity: 1;
      position: static;
      width: unset;
      z-index: 0;
      text-align: center;
      background-color: unset;

      &__item {
        display: unset;
        line-height: 2rem;
        border-bottom: 0;
        text-transform: unset;

        a {
          padding: 0 1.5rem;
          text-decoration: none;
          color: white;
          font-weight: 500;
          font-size: 1.6rem;
          
          &:hover {
            color: unset;
            text-decoration: underline;
          }
        }
      }
    }
    
    .restaurant {
      &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 1.6rem;
      }
    }
  }
  
  @media screen and (min-width: 900px) {
    .restaurant {
      &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
  
  @media screen and (min-width: 1200px) {
    :root {
      font-size: 11px;
    }

    .hero {
      min-height: 200px;
    }

    .restaurant {
      &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
  